<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  전체 매퍼 중 유일한 값을 사용하여야 한다.
 해서 관계적으로 해당 파일의 path와 file_name(확장자 제외)
 그리고 dao 에서 namespace와 일치하여야 된다. -->

<mapper namespace="CodeGroup">
    <!--select 결과를 받을 객채-->
<!--    <resultMap id="resultMapObj" type="com.vandelay.app.codegroup.CodeGroup"></resultMap>-->

    <select id="selectList" resultType="codegroup">
        SELECT
            a.seq,
            a.codeGroup_seq,
            a.name,
            a.delNy,
            b.codeName
        FROM
            code AS a
        LEFT JOIN codeGroup AS b ON a.codeGroup_seq = b.seq
        WHERE 1+1
        <if test="shKey != null and !shKey.equals('')">
          AND b.codeName LIKE CONCAT('%',#{shKey},'%')
        </if>

    </select>

    <select id="selectOne" resultType="codegroup">
        SELECT
            a.seq,
            a.codeGroup_seq,
            a.name,
            a.delNy,
            b.codeName
        FROM
            code AS a
                LEFT JOIN codeGroup AS b ON a.codeGroup_seq = b.seq
        WHERE a.seq = #{seq}
    </select>


    <update id="update">
        UPDATE code
        SET
            name = #{name},
            codeGroup_seq = #{codeGroup_seq},
            delNy = #{delNy}
        WHERE
            seq = #{seq}
    </update>

    <delete id="delete">
        DELETE FROM code WHERE seq = #{seq}
    </delete>

    <insert id="insert">
        INSERT INTO code (codeGroup_seq,name,delNy)
        VALUES(
                  #{codeGroup_seq},
                  #{name},
                  #{delNy}
              )
    </insert>


</mapper>