<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IngGroup">

    <sql id="selectField">
        seq,
        big_cat,
        catName,
        level,
        useNy
    </sql>


    <select id="selectList" resultType="inggroup">
        SELECT
            <include refid="selectField"/>
        FROM
            ingredientGroup
    </select>

    <!--THIS FOR ingList select options    -->
    <!--THIS FOR ingList select options    -->
    <select id="selectLvlOne" resultType="inggroup">
        SELECT
            <include refid="selectField"/>
        FROM
            ingredientGroup
        WHERE
            level = '1'
    </select>

    <select id="selectLvlTwo" resultType="inggroup">
        SELECT
            <include refid="selectField"/>
        FROM
            ingredientGroup
        WHERE 1+1
            AND level = '2'
            AND big_cat = #{optCatName}
    </select>
    <!--THIS FOR ingList select options    -->
    <!--THIS FOR ingList select options    -->

    <!--THIS FOR ingForm UPDATE options    -->
    <!--THIS FOR ingForm UPDATE options    -->

    <select id="selectLvlTwoForm" resultType="inggroup">
        SELECT
        <include refid="selectField"/>
        FROM
            ingredientGroup
        WHERE 1+1
            AND level = '2'

    </select>
    <!--THIS FOR ingForm UPDATE options    -->
    <!--THIS FOR ingForm UPDATE options    -->

</mapper>