<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Ing">

    <sql id="selectField">
        a.seq,
        a.name,
        a.ingredient_seq,
        a.useNy,
        a.big_cat_ing,
        b.catName,
        b.level,
        b.big_cat
    </sql>

    <sql id="selectCommon">
        FROM
        ingredient AS a
        LEFT JOIN ingredientGroup AS b ON b.seq = a.ingredient_seq
        WHERE 1+1
            <if test="shKey != null and !shKey.equals('')">
                AND (b.catName LIKE CONCAT('%',#{shKey},'%')
                OR a.name LIKE CONCAT('%',#{shKey},'%'))
            </if>
            <if test="optCatName != null and !optCatName.equals('')">
                AND a.big_cat_ing = #{optCatName}
            </if>
            <if test="optCatName2 != null and !optCatName2.equals('')">
                AND a.ingredient_seq = #{optCatName2}
            </if>
    </sql>


    <!--PAGING SELECT QUERY-->
    <!--PAGING SELECT QUERY-->

    <!--PAGING TOTAL COUNT-->
    <!--PAGING TOTAL COUNT-->
    <select id="selectOneCount" resultType="Integer">
        SELECT count(*)
        <include refid="selectCommon" />
    </select>
    <!--PAGING TOTAL COUNT-->
    <!--PAGING TOTAL COUNT-->

    <select id="selectList" resultType="ing">

        SELECT aa.* FROM (
        SELECT
        <include refid="selectField" />
        <include refid="selectCommon" />
        ) AS aa
        LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
    </select>

    <!--PAGING SELECT QUERY-->
    <!--PAGING SELECT QUERY-->


    <!--FORM W/ seq-->
    <!--FORM W/ seq-->
    <select id="selectOne" resultType="ing">
        SELECT
            <include refid="selectField"/>
        FROM
            ingredient AS a
        LEFT JOIN ingredientGroup AS b ON b.seq = a.ingredient_seq
        WHERE
            a.seq = #{seq}
    </select>
    <!--FORM W/ seq-->
    <!--FORM W/ seq-->

    <!--UPDATE-->
    <update id="update">
        UPDATE ingredient
        SET
            name = #{name},
            big_cat_ing = #{big_cat_ing},
            ingredient_seq = #{ingredient_seq},
            useNy = #{useNy}
        WHERE
            seq = #{seq}
    </update>
    <!--UPDATE-->

    <!--DELETE-->
    <delete id="delete">
        DELETE FROM ingredient WHERE seq = #{seq}
    </delete>
    <!--DELETE-->

    <insert id="insert">
        INSERT INTO ingredient
        (name,ingredient_seq,big_cat_ing,useNy)
        VALUES(
            #{name},
            #{ingredient_seq},
            #{big_cat_ing},
            #{useNy}
        )
    </insert>

<!--Recipe page searching for Ing with ShKeyword-->
<!--Recipe page searching for Ing with ShKeyword-->
    <select id="selectOneShKey" resultType="ing">
        SELECT
            seq,
            name,
            big_cat_ing
        FROM
            ingredient
        WHERE
            name = #{shKey}
    </select>
<!--Recipe page searching for Ing with ShKeyword-->
<!--Recipe page searching for Ing with ShKeyword-->

</mapper>