<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  전체 매퍼 중 유일한 값을 사용하여야 한다.
 해서 관계적으로 해당 파일의 path와 file_name(확장자 제외)
 그리고 dao 에서 namespace와 일치하여야 된다. -->

<mapper namespace="Like">
    <!-- 좋아요 눌럿는지 안눌럿는지 -->
    <select id="findLike" resultType="int">
        SELECT COUNT(*)
        FROM memberLikesRecipe
        WHERE recipe_seq = #{recipe_seq} AND member_seq = #{member_seq}
    </select>

    <insert id="likeUp">
        INSERT INTO memberLikesRecipe (recipe_seq ,member_seq)
        values(
            #{recipe_seq},
            #{member_seq}
            )
    </insert>

    <delete id="likeDown">
        DELETE FROM memberLikesRecipe WHERE recipe_seq = #{recipe_seq} AND member_seq = #{member_seq}
    </delete>

</mapper>