<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.vandelay.app.infra.dto.CodeDTO" alias="code"></typeAlias>
        <typeAlias type="com.vandelay.app.infra.dto.CodeGroupDTO" alias="codegroup"></typeAlias>
        <typeAlias type="com.vandelay.app.infra.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.vandelay.app.infra.dto.IngDTO" alias="ing"></typeAlias>
        <typeAlias type="com.vandelay.app.infra.dto.IngGroupDTO" alias="inggroup"></typeAlias>
    </typeAliases>
</configuration>
