@import url("../../reset.css");
/*login animation*/
/*login animation*/
@import url("loginAnimation.css");
/*login animation*/
/*login animation*/
/* font */
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font */
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
*{
    font-family: 'KBO-Dia-Gothic_bold';
}

html,body{
    width: 100%;
    height: 100%;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
    font-family: 'LINESeedKR-Bd';
    letter-spacing: -2px;
}

/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/

/*Login background*/
/*Login background*/
/*Login background*/
.loginContainer{
    width: 100%;
    height: 100vh;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Login background*/
/*Login background*/
/*Login background*/

.welcome-header>img{
    width: 100%;
    object-fit: fill;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.welcome-header{
    width: 30%;
    animation: disappear 2s ease-in-out forwards;
}
.welcome-form{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    animation-delay: 5s;
    animation:appear 3s ease-in-out;

}
.login{
    width: 60px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    border-style: none;
    font-family: 'Oswald', sans-serif;
    transition: all .3s ease-in-out ,scale .5s ease-in-out;

}
.signup{
    width: 75px;
    height: 35px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    margin-left: 40px;
    border-style: none;
    transition: all .3s ease-in-out ;
}
#user-id{
    border-style: none;
    margin-bottom: 20px;
    font-size: 17px;
    width: 100%;
    outline: none;
    padding: 0 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
#user-pwd{
    width: 100%;
    font-size: 17px;
    outline: none;
    color: white;
    padding: 0 25px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}
#id-label{
    letter-spacing: 1px;
    font-family: 'KBO-Dia-Gothic_bold';
    transition: all .5s ease-in-out;
    color: coral;
}
#pwd-label{
    letter-spacing: 1px;
    color: coral;
    font-family: 'KBO-Dia-Gothic_bold';
    transition: all .5s ease-in-out;
    transition-delay: .1s;

}
form:hover .btnBox {
    opacity: 1;
}


form:hover #id-label {
    transform: scale(1.3)translateY(18px)translateX(-5px);
    color: white;
}
form:hover #pwd-label,
form:hover #repwd-label{
    transform: scale(1.3)translateY(18px)translateX(-20px);
    color: white;
    opacity: 1;
}


#user-id::placeholder {
    color: white;
    opacity: .5;
    transition: all .5s ease-in-out;
    text-align: left;
    font-family: 'KBO-Dia-Gothic_bold';
}
#user-repwd::placeholder,
#user-pwd::placeholder{
    color: white;
    text-align: left;
    opacity: .5
;
    transition: all .5s ease-in-out;
    font-family: 'KBO-Dia-Gothic_bold';
}
#user-id:hover::placeholder{
    opacity: 0;
}
#user-repwd:hover::placeholder,
#user-pwd:hover::placeholder{
    opacity: 0;
}

.btnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    opacity: 0;
    transition: all 0.2s ease-in-out,opacity .5s ease-in-out;
}

.btn{
    width: 70px;
    height: 35px;
    background-color: coral;
    color: white;
    white-space: nowrap;
    font-family: 'KBO-Dia-Gothic_bold';
    opacity: .5;
}

.btn:hover {
    transform: scale(1.1);
    opacity: 1;
}
.login:active{
    transform: scale(0);
}

/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
.user-pwd_signup{
    padding: 0 55px !important;
}
.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.signup-header{
    width: 100%;
    font-family: 'KBO-Dia-Gothic_bold';
    text-align: center;
    color: white;
    font-size: 50px;
    animation: disappear 2s ease-in-out forwards;
}
.form{
    margin-left: 0;
}

#repwd-label{
    letter-spacing: 1px;
    opacity: 0;
    font-family: 'KBO-Dia-Gothic_bold';
    transition: all .5s ease-in-out;
    transition-delay: .1s;
}
#user-repwd{
    width: 100%;
    font-size: 17px;
    outline: none;
    padding: 0 55px;
    border-style: none;
    color: white;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
}
.signupId{
    margin-bottom: 0!important;
    padding: 0 55px!important;
}
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/
/*SIGN UP*/