@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*Global*/
/*Global*/
/*Global*/
*{
    box-sizing: border-box;
}
h4,h5,h6{
    font-family: 'EF_watermelonSalad';
    text-decoration: none;
    text-align: center;
}

/*Global*/
/*Global*/
/*Global*/

.recipeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*RecipeBody HEADER*/
/*RecipeBody HEADER*/
.recipeBody_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EF_watermelonSalad';
}
.recipeHeader_imgBox{
    width: 30%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
    overflow: hidden;
}
.recipeHeader_imgBox>img{
    width: 100%;
    object-fit: cover;
}
.recipeHeader_misc{
    display: flex;
    opacity: .6;
    justify-content: space-around;
    width: 50%;
    margin: 50px 0;
}
.recipeHeader_misc-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeHeader_misc-item>span{
    display: block;
    margin: 0;
    font-weight: 900;
}

/*RecipeBody HEADER*/
/*RecipeBody HEADER*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*RecipeBody BODY*/
/*RecipeBody BODY*/
.recipeBody_body{
    width: 100%;
}
.recipeBody_body-ingredientList{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.ingredientList_body>h6{
    position: absolute;
    top: 10px;
}

.ingredientList_body{
    width: 50%;
    padding: 50px 30px;
    border: none;
    position: relative;
}
.ingredientList_body>ul{
    width: 100%;
}
.ingredientList_body>ul>li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}
.ingredientList_body>ul>li>span{
    display: inline;
}
.recipeBody_body-cookingToolList{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cookingToolList_body{
    width: 40%;
    display: inline-flex;
    padding: 10px 30px;
    border: none;
    position: relative;
}
.cookingToolList_body>ul{
    width: 100%;
}
.cookingToolList_body>ul>li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
    white-space: nowrap;
}
.cookingToolList_body>ul>li>span{
    display: inline;
}
/*RecipeBody BODY*/
/*RecipeBody BODY*/

/*RecipeBody FOOTER*/
.recipeBody_footer{
    margin: 50px;
}
.urlBtn>button{
    font-family: 'EF_watermelonSalad'!important;
}
/*RecipeBody FOOTER*/

/*좋아요 버튼 css*/
/*좋아요 버튼 css*/
#accordionFlushExample,
.accordion-header,
.accordion-item,
.accordion-button,
.accordion-flush,
.accordion-item,
.accordion-collapse,
.collapsed{
    z-index: 0!important;
}
#flush-heading,.accordion-header{
    position: relative;
}
.likeBtnBox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 13px;
    width: 44px;
    height: 44px;
    z-index: 999!important;
}


.btn_like {
    position: absolute;
    z-index: 999!important;
    margin: 100px auto;
    display: block;
    width: 44px;
    height: 44px;
    border: 1px solid #e8e8e8;
    border-radius: 44px;
    font-family: notokr-bold,sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    color: #DD5D54;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
    transition: border .2s ease-out,box-shadow .1s ease-out,background-color .4s ease-out;
    cursor: pointer;
}

.btn_like:hover {
    border: 1px solid rgba(228,89,89,0.3);
    background-color: rgba(228,89,89,0.02);
    box-shadow: 0 2px 4px 0 rgba(228,89,89,0.2);
}

.btn_unlike .img_emoti {
    background-position: -30px -120px;
}

.img_emoti {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410) no-repeat;
    text-indent: -9999px;
    vertical-align: top;
    width: 20px;
    height: 17px;
    margin: 0px;
    background-position: 0px -120px;
    text-indent: 0;
}

.btn_like .ani_heart_m {
    margin: -63px 0 0 -63px;
}

.ani_heart_m {
    display: block;
    position: absolute;
    z-index: 999!important;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    margin: -63px 0 0 -63px;
    pointer-events: none;
}

.ani_heart_m.hi {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_on_m.png);
    -webkit-background-size: 9000px 125px;
    background-size: 9000px 125px;
    animation: on_m 1.06s steps(72);
}

.ani_heart_m.bye {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_off_m.png);
    -webkit-background-size: 8250px 125px;
    background-size: 8250px 125px;
    animation: off_m 1.06s steps(66);
}

@keyframes on_m {
    from { background-position: 0 }
    to { background-position: -9000px }
}

@keyframes off_m {
    from { background-position: 0 }
    to { background-position: -8250px }
}
/*좋아요 버튼 css*/
/*좋아요 버튼 css*/