@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.recipeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EF_watermelonSalad';
}
.recipeHeader_imgBox{
    width: 30%;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
}
.recipeHeader_imgBox>img{
    width: 100%;
    object-fit: cover;
}
.recipeHeader_misc{
    display: flex;
    opacity: .6;
    justify-content: space-around;
    width: 50%;
}
.recipeHeader_misc-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeHeader_misc-item span{
    display: block;
    margin: 0;
    font-weight: 900;
}