@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*Global*/
/*Global*/
/*Global*/
*{
    box-sizing: border-box;
}
h4,h5,h6{
    font-family: 'EF_watermelonSalad';
    text-decoration: none;
    text-align: center;
}

/*Global*/
/*Global*/
/*Global*/

.recipeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*RecipeBody HEADER*/
/*RecipeBody HEADER*/
.recipeBody_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EF_watermelonSalad';
}
.recipeHeader_imgBox{
    width: 30%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
    overflow: hidden;
}
.recipeHeader_imgBox>img{
    width: 100%;
    object-fit: cover;
}
.recipeHeader_misc{
    display: flex;
    opacity: .6;
    justify-content: space-around;
    width: 50%;
    margin: 50px 0;
}
.recipeHeader_misc-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeHeader_misc-item>span{
    display: block;
    margin: 0;
    font-weight: 900;
}

/*RecipeBody HEADER*/
/*RecipeBody HEADER*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*RecipeBody BODY*/
/*RecipeBody BODY*/
.recipeBody_body{
    width: 100%;
}
.recipeBody_body-ingredientList{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.ingredientList_body>h6{
    position: absolute;
    top: 10px;
}

.ingredientList_body{
    width: 50%;
    padding: 50px 30px;
    border: none;
    position: relative;
}
.ingredientList_body>ul{
    width: 100%;
}
.ingredientList_body>ul>li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}
.ingredientList_body>ul>li>span{
    display: inline;
}
.recipeBody_body-cookingToolList{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cookingToolList_body{
    width: 40%;
    display: inline-flex;
    padding: 10px 30px;
    border: none;
    position: relative;
}
.cookingToolList_body>ul{
    width: 100%;
}
.cookingToolList_body>ul>li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
    white-space: nowrap;
}
.cookingToolList_body>ul>li>span{
    display: inline;
}
/*RecipeBody BODY*/
/*RecipeBody BODY*/

/*RecipeBody FOOTER*/
.recipeBody_footer{
    margin: 50px;
}
.urlBtn>button{
    font-family: 'EF_watermelonSalad'!important;
}
/*RecipeBody FOOTER*/