/*RESET*/
@import url("../../reset.css");

/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
*{
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    letter-spacing: -2px;

}

/*HTML Body*/
/*HTML Body*/
/*HTML Body*/
/*HTML Body*/

/*CONTAINER*/
.hugeContainer{
    padding: 25px;
    box-sizing: border-box;
}
.border_box{
    display: flex;
}
/*CONTAINER*/



/*SEARCH BOX*/
/*SEARCH BOX*/
.srch_box{
    width: 30%;
    display: flex;
    align-items: center;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    background-color: whitesmoke;
    height:94vh;
}
form{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input,
span,
label
{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
}

input:focus {
    outline: 0;
}
/* Question */

input.question{
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus + label{
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

input.question:valid + label{
    border-color: green;
}

input.question:invalid{
    box-shadow: none;
}

input.question + label > span{
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: 0;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: flex;
    opacity: 0;
    text-align: center;
    background-color: indianred;
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #EEE;
}

input[type="submit"]:active {
    background: #999;
}

input.question:valid ~ input[type="submit"]{
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"]{
    display: none;
}

@-webkit-keyframes appear { 100% {opacity: 1;} }

@keyframes appear { 100% {opacity: 1;} }

/*SEARCH BOX*/
/*SEARCH BOX*/


/*RECIPE BOX*/
/*RECIPE BOX*/
.recipe_box{
    padding: 30px;
    box-sizing: border-box;
    width:70%;
    background-color: #a8a8c5;
    height:94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.resultInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoBox{
    width: 30%;
}
.logoBox>img{
    width: 100%;
    object-fit: cover;
}
.resultBox{
    width: 100%;
    height: 700px;
    margin: 20px;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y:scroll;
    background-color: red;
}
.result{
    width: 100%;
    height: 100%;
    background-color: indianred;
}
/*RECIPE BOX*/
/*RECIPE BOX*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


