@font-face {
    font-family: 'EF_cucumbersalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_cucumbersalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.userInfoBox{
    width: 100%;
    margin: 20px;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userUpdateBtn{
    background-color: darkseagreen!important;
    font-family: 'EF_watermelonSalad' !important;
    height: 2em;
    line-height: 1.4em;
    border: none;
    transition: all .3s ease-in-out;
}
.userUpdateBtn:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255); /* Adjust color and size of glow */
}
#profileUpdateBtn>span{
    margin-right: 5px;
    margin-top: 15px;
    display: block;
    text-align: center;
}
.profileBtnBox{
    display: flex;
    justify-content: center;
    align-items: center;
}